In [58]:
import os
import csv
import pandas as pd

In [59]:
poll = open("Resources/election_data.csv")
reader = csv.reader(poll, delimiter = ",")

In [60]:
#how many votes
reader = csv.reader(poll, delimiter = ",")

votes = len(list(reader)) - 1
votes

3521001

In [64]:
poll = open("Resources/election_data.csv")
reader = csv.reader(poll, delimiter = ",")
poll_df = pd.read_csv(poll)

poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [78]:
#A complete list of candidates who received votes
Candidate = poll_df['Candidate'].unique()

print(Candidate)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [79]:
#The percentage of votes each candidate won

percent = poll_df['Candidate'].value_counts()/votes * 100

percent

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [80]:
#The total number of votes each candidate won

poll_df['Candidate'].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [83]:
#The winner of the election based on popular vote

winner = poll_df['Candidate'].value_counts().idxmax()

winner

'Khan'